{% extends 'base.html' %}

{% block title %}
WineQuality
{% endblock title %}


{% block custom_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock custom_css %}


{% block body %}

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light shadow fixed-top" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="/">WineQualityPrediction</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link"
                    href="https://github.com/c17hawke/dvc-plus-cml-test">
                    Source Code
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid masthead">
    <br><br><br><br>

    <div class="container">
        <div class="row">

            <!-- Left Side Form -->
            <div class="col-md-6">

                <form method="POST">

                    <div class="form-group">

                        <blockquote class="blockquote">
                            <p class="mb-2">
                                Enter Wine Details:
                            </p>
                        </blockquote>

                        <input class="form-control mb-2"
                            type="number"
                            step="any"
                            name="fixed_acidity"
                            placeholder="Fixed acidity"
                            required>

                        <input class="form-control mb-2"
                            type="number"
                            step="any"
                            name="volatile_acidity"
                            placeholder="Volatile acidity"
                            required>

                        <input class="form-control mb-2"
                            type="number"
                            step="any"
                            name="citric_acid"
                            placeholder="Citric acid"
                            required>

                        <input class="form-control mb-2"
                            type="number"
                            step="any"
                            name="residual_sugar"
                            placeholder="Residual sugar"
                            required>

                        <input class="form-control mb-2"
                            type="number"
                            step="any"
                            name="chlorides"
                            placeholder="Chlorides"
                            required>

                        <input class="form-control mb-2"
                            type="number"
                            step="any"
                            name="free_sulfur_dioxide"
                            placeholder="Free sulfur dioxide"
                            required>

                        <input class="form-control mb-2"
                            type="number"
                            step="any"
                            name="total_sulfur_dioxide"
                            placeholder="Total sulfur dioxide"
                            required>

                        <input class="form-control mb-2"
                            type="number"
                            step="any"
                            name="density"
                            placeholder="Density"
                            required>

                        <input class="form-control mb-2"
                            type="number"
                            step="any"
                            name="pH"
                            placeholder="pH"
                            required>

                        <input class="form-control mb-2"
                            type="number"
                            step="any"
                            name="sulphates"
                            placeholder="Sulphates"
                            required>

                        <input class="form-control mb-2"
                            type="number"
                            step="any"
                            name="alcohol"
                            placeholder="Alcohol"
                            required>

                    </div>

                    <button type="submit" class="btn btn-primary">
                        Predict
                    </button>

                </form>

            </div>

            <!-- Right Side Prediction -->
            <div class="col-md-6">

                <div class="card shadow p-4">

                    <h3 class="mb-3">
                        Prediction Result
                    </h3>

                    {% if prediction %}
                        <div class="alert alert-success">
                            <h2>
                                Wine Quality: {{ prediction }}
                            </h2>
                        </div>
                    {% endif %}

                    {% if error %}
                        <div class="alert alert-danger">
                            {{ error }}
                        </div>
                    {% endif %}

                </div>

            </div>

        </div>
    </div>
</div>

{% endblock body %}


{% block custom_js %}
<script src="{{ url_for('static', filename='script/index.js') }}"></script>
{% endblock custom_js %}